@use "../abstracts" as *;

.lifestyle {
  background-color: $grey-color;
  border-radius: $radius-pill;
  padding: 70px 64px;
  margin: 80px 0;

  @media (max-width: $breakpoint) {
    padding: 40px 24px;
    margin: 40px 0;
    border-radius: $radius-lg;
  }

  &__title {
    font-family: $font-family-title;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: $black-color;
    margin-top: 0;
    margin-bottom: 64px;

    @media (max-width: $breakpoint) {
      font-size: 32px;
      margin-bottom: 28px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;

    grid-auto-rows: clamp(200px, 22vw, 300px);

    @media (max-width: $breakpoint) {
      grid-template-columns: 1fr;
      gap: 16px;

      grid-auto-rows: auto;
    }
  }

  &__card {
    position: relative;
    border-radius: $radius-lg;
    overflow: hidden;
    background-color: $white-color;
    // max-height: 289px;

    @media (max-width: $breakpoint) {
      // max-height: none;
      // min-height: 190px;
      width: 100%;
      grid-column: 1 / -1 !important;
      aspect-ratio: 310 / 190;
    }

    &--casual {
      grid-column: span 4;

      .lifestyle__image {
        transform: scale(2.2);
        transform-origin: 58% 35%;

        &:hover {
          transform: scale(2.25);
        }

        @media (max-width: $breakpoint) {
          transform: scale(1.8);
        }
      }
    }

    &--formal {
      grid-column: span 6;

      .lifestyle__image {
        transform: scale(1.8);
        transform-origin: 80% 58%;
        object-position: center top;

        &:hover {
          transform: scale(1.85);
        }

        @media (max-width: $breakpoint) {
          transform: scale(2);
          transform-origin: 75% 40%;
        }
      }
    }

    &--party {
      grid-column: span 6;

      .lifestyle__image {
        transform: scale(1.1);
        object-position: right center;
        margin-left: 15%;
        transform-origin: 90% 58%;

        &:hover {
          transform: scale(1.15);
        }

        @media (max-width: $breakpoint) {
          transform: scale(1.2);
          transform-origin: 60% 100%;
        }
      }
    }

    &--gym {
      grid-column: span 4;


      .lifestyle__image {
        transform: scale(1);
        object-position: center 40%;
        margin-left: 20%;

        &:hover {
          transform: scale(1.05);
        }

        @media (max-width: $breakpoint) {
          margin-left: 0;
          transform: none;
          padding-right: 22%;
          padding-top: 5%;
          object-fit: contain;
          transform: scale(2.2);
          object-position: right bottom;
        }
      }
    }
  }

  &__label {
    position: absolute;
    top: 24px;
    left: 36px;
    font-size: 36px;
    font-weight: 700;
    color: $black-color;
    z-index: 1;

    @media (max-width: $breakpoint) {
      font-size: 24px;
      top: 16px;
      left: 24px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
}