@use "../../../styles/abstracts/variables" as *;

.text {
  font-size: 14px;
  font-family: $font-family-base;
  &--clamp-1,
  &--clamp-2,
  &--clamp-3,
  &--clamp-4 {
    display: -webkit-box;

    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;

    overflow: hidden;
  }

  &--clamp-1 {
    -webkit-line-clamp: 1;
  }

  &--clamp-2 {
    -webkit-line-clamp: 2;
  }

  &--clamp-3 {
    -webkit-line-clamp: 3;
  }

  &--clamp-4 {
    -webkit-line-clamp: 4;
  }
  @media (max-width: $breakpoint) {
    font-size: 12px;
  }
}