@use "@/styles/abstracts/variables" as *;

// Khối bọc điều hướng hover hiển thị Tooltip toàn cục cho Text
.text-wrapper {
  position: relative;
  width: 100%;
  min-width: 0;
  display: flex;
  align-items: flex-start;

  &:hover {
    .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Lõi xử lý định dạng Text
.text {
  margin: 0;

  // Trạng thái cắt chữ nhiều dòng động bằng Biến CSS (CSS Variable)
  &--clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp); // Nhận trực tiếp số dòng từ React truyền xuống
    overflow: hidden;
    text-overflow: ellipsis;
  }
}