@use '@/styles/abstracts/variables' as *;

.dropdown {
  position: relative;

  &__trigger {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      transition: all 0.2s ease;
    }
  }

  &__text{
    text-decoration: none;
    font-size: 16px;
  }

  &.is-open &__icon {
    transition: all 0.2s ease;
    transform: rotate(180deg);
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    border-radius: 6px;
    z-index: 10;

    @media (max-width: $breakpoint) {
      display: block;
      position: static;
      box-shadow: none;
      background-color: transparent;
      border-radius: 0;
      min-width: unset;
    }
  }
}