@use '@/styles/abstracts/variables' as *;

.dropdown {
  position: relative;

  &__trigger {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__link{
    text-decoration: none;
    font-size: 16px;
  }

  &.is-open &__icon {
    transform: rotate(180deg);
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    min-width: 160px;
    z-index: 10;
    list-style: none;
    margin: 0;
    display: none;
    flex-direction: column;
    border-radius: 6px;
  }

  &__item{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 10px 16px;
    cursor: pointer;
    &:hover {
      background-color: $grey-color;
    }
  }

  &__item-link{
    text-decoration: none;
    color: inherit;
  }
    

  &.is-open &__menu {
    display: block;
  }

  @media (max-width: $breakpoint) {
    &__menu {
      position: static;
      box-shadow: none;
      padding-left: 16px;
      background-color: transparent;
    }
  }
}