@use "@/styles/abstracts/variables" as *;

.product-detail {
  &__info {
    min-width: 0;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 40px;
    font-family: $font-family-title;

    @media (max-width: $bp-sm) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__description {
    font-size: $font-size-base;
    line-height: 1.5;
    color: $text-muted;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #eee;

    @media (max-width: $bp-sm) {
      font-size: $font-size-mobile;
      margin-bottom: 24px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: $bp-sm) {
      gap: 20px;
    }
  }

  &__variant {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid rgba($black-color, 0.1);
    padding-bottom: 24px;
  }

  &__variant-label {
    font-size: $font-size-base;
    color: $text-muted;

    @media (max-width: $bp-sm) {
      font-size: $font-size-mobile;
    }
  }

  &__rating {
    margin-block: 14px;

    @media (max-width: $bp-sm) {
      margin-block: 12px;
      gap: 13px; // sm: gap star ↔ text

      .rating {
        --star-size: 18.5px;
        --star-gap: 5.5px;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 20px;

    @media (max-width: $bp-sm) {
      gap: 12px;
    }
  }

  &__btn {
    padding-block: 15px;
    flex: 70;
  }

  &__quantity {
    flex: 30;
  }
}
