@use "@/styles/abstracts/variables" as *;

.product-detail__info {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.product-detail__name {
  font-size: 40px;
  @media (max-width: $breakpoint-tablet) {
    font-size: 24px;
  }
}

.product-detail__description {
  font-size: $font-size-base;
  line-height: 1.5;
  color: $text-muted;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #eee;

  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-mobile;
    margin-bottom: 24px;
  }
}

.product-detail__form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: $breakpoint-tablet) {
    gap: 20px;
  }
}

.product-detail__variant {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 24px;
}

.product-detail__variant-label {
  font-size: $font-size-base;
  color: $text-muted;

  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-mobile;
  }
}

.product-detail__rating {
  margin-bottom: 12px;
  margin-top: 8px;
}

.product-detail__actions {
  display: flex;
  gap: 16px;
}
