@use "@/styles/abstracts/variables" as *;

.footer-col {
  &__title {
    font-size: $font-size-base;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0 0 24px 0;

    @media (max-width: $breakpoint) {
      font-size: $font-size-mobile;
      margin: 0 0 16px 0;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 16px;
  }

  &__link {
    color: $text-muted;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;

    &:hover {
      color: $text-dark;
      text-decoration: underline;
    }
  }
}
