@use "@/styles/abstracts/variables" as *;

.write-review-modal {
  &__form {
    display: flex;
    flex-direction: column;
    gap: $base-spacing;
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  &__select {
    padding: 10px;
    width: 100%;
    border-radius: $radius-pill;
    border: 1px solid $color-neutral;
    background-color: $color-neutral;
    outline: none;
    font-family: inherit;
    font-size: $font-size-base;

    &:focus {
      border-color: $black-color;
    }
  }

  &__input {
    width: 100%;
  }

  &__error {
    color: $color-danger;
    font-size: 14px;
  }
}
