@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

// wrapper for tooltip
.heading-wrapper {
  position: relative;
  width: 100%;

  // active tooltip
  &--has-tooltip {
    &:hover {
      .tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // Mobile: override lineClamp khi có mobileLineClamp
  &--mobile-clamp {
    @media (max-width: $breakpoint) {
      .heading-text--ellipsis,
      .heading-text--clamp {
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--mobile-line-clamp, 2);
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  // Mobile: ẩn tooltip
  &--mobile-no-tooltip {
    @media (max-width: $breakpoint) {
      .tooltip {
        display: none;
      }
    }
  }
}

// core of heading
.heading-text {
  margin: 0;
  width: 100%;

  // Status 1: oneline
  &--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // Status 2: clamp multiline
  &--clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 2); 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}

// tooltip
.tooltip {
  position: absolute;
  // add style for tooltip
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 10;
}