@use "@/styles/abstracts/variables" as *;

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
  }

  &__copyright {
    color: $text-muted;
    margin: 0;
    font-size: 14px;
  }
}
