@use "@/styles/abstracts/variables" as *;

$bg-main-banner: #f2f0f1;

.banner-section {
  background-color: $bg-main-banner;
  position: relative;
  z-index: 1;

  &__btn {
    padding: 15px 67.5px;
  }
}

.main-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}
