@use '@/styles/abstracts/variables' as *;

$bg-main-banner: #F2F0F1;

.banner-section {
  background-color: $bg-main-banner;
  position: relative;
  z-index: 1;
}

.main-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}
