@use "@/styles/abstracts/variables" as *;

$bg-banner: #f2f0f1;

.banner-section {
  position: relative;
  background-color: $bg-banner;
  overflow: hidden;
}

.banner-section__inner {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(420px, 560px);
  gap: 24px;
  align-items: stretch;

  @media (max-width: $breakpoint-desktop) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.banner-section__btn {
  margin-top: 32px;
  min-width: 204px;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    max-width: 358px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
  }
}
