// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin grid-layout($cols: 1, $gap: 20px) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($cols, 1fr);
}

@mixin flex-group($gap: 12px, $justify: flex-start, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}