@use "@/styles/abstracts/variables" as *;

$mobile-gap: 20px;
$base-gap: 40px;

.product-detail {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: $base-gap;
  margin-bottom: 60px;

  @media (max-width: $breakpoint) {
    grid-template-columns: 1fr;
    gap: $mobile-gap;
  }
}
