@use "@/styles/abstracts/variables" as *;

.text-link{
  color: $black-color;
  text-decoration: underline;

  &:hover{
    transition: all 0.2s ease;
    opacity: 0.8;
  }

  @media (max-width: $breakpoint-tablet) {
    font-size: 12px;
  }
}