@use "@/styles/abstracts/variables" as *;

.product-detail__gallery {
  &--skeleton {
    pointer-events: none;
  }
}

.product-detail__thumbnail-skeleton {
  width: 100%;
  aspect-ratio: 1;
  border-radius: $radius-lg;

  @media (max-width: $breakpoint-tablet) {
    aspect-ratio: 1.05 / 1;
    width: calc((100% - 24px) / 3);
  }
}

.product-detail__main-image-skeleton-wrapper {
  flex: 1;
  border-radius: $radius-lg;
  overflow: hidden;

  @media (max-width: $breakpoint-tablet) {
    order: 1;
    aspect-ratio: 1.25 / 1;
    flex: none;
    width: 100%;
  }
}

.product-detail__main-image-skeleton {
  width: 100%;
  height: 100%;
}
