@use "@/styles/abstracts/variables" as *;

.home__brand-logo {
  position: relative;
  z-index: 1;
}

.home__divider-bottom {
  border-bottom: 1px solid $color-neutral;
}

.home__main-container {
  @media (max-width: $breakpoint-tablet) {
    margin-top: 10px;
  }
}
