@use "@/styles/abstracts/variables" as *;

.home {
  &__brand-logo {
    position: relative;
    z-index: 1;
  }

  &__product-collection {
    padding-top: 72px;
    border-bottom: 1px solid rgba($color: $black-color, $alpha: 0.1);

    @media (max-width: $breakpoint-tablet) {
      padding-top: 50px;
    }
  }
}

