@use "@/styles/abstracts/variables" as *;

.header {
  position: relative;
  background-color: #ffffff;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;

    @media (max-width: $breakpoint) {
      gap: 16px;
      padding: 20px 16px;
    }
  }

  &__hamburger {
    display: none;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 1000;

    @media (max-width: $breakpoint) {
      display: block;
      order: 1; // Đứng đầu tiên trên mobile
    }
  }

  &__logo {
    font-family: $font-family-title;
    font-size: 32px;
    font-weight: 700;
    color: $black-color;
    text-decoration: none;
    white-space: nowrap;

    @media (max-width: $breakpoint) {
      order: 2; // Đứng thứ 2 trên mobile
      margin-right: auto;
      font-size: 25px;
    }
  }

  &__nav-wrapper {
  }

  &__search-wrapper {
    flex: 1;

    @media (max-width: $breakpoint) {
      flex: 0;
      order: 3;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
    > a {
      display: flex;
      align-items: center;
    }

    @media (max-width: $breakpoint) {
      order: 4;
      gap: 12px;
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}
