@use "@/styles/abstracts/variables" as *;

.header {
  position: relative;
  background-color: #ffffff;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
    border-bottom: 1px solid rgba($black-color, 0.1);

    &--no-border {
      border-bottom: none;
    }

    @media (max-width: $bp-sm) {
      gap: 16px;
      padding: 20px 16px;
    }
  }

  &__hamburger {
    display: none;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 1000;

    @media (max-width: $bp-sm) {
      display: block;
      padding-top: 2px;
      order: 1; // First item on mobile
    }
  }

  &__logo {
    font-family: $font-family-title;
    font-size: 32px;
    font-weight: 700;
    color: $black-color;
    text-decoration: none;
    white-space: nowrap;
    // line-height: 1;
    width: fit-content;
    // padding-bottom: 8px;
    align-self: center;

    @media (max-width: $bp-sm) {
      order: 2; // Second item on mobile
      margin-right: auto;
      font-size: 25px;
      // padding-bottom: 6px;
    }
  }

  // &__nav-wrapper {
  // }

  &__search-wrapper {
    flex: 1;

    @media (max-width: $bp-sm) {
      flex: 0;
      order: 3;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
    > a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    @media (max-width: $bp-sm) {
      order: 4;
      gap: 12px;
    }
  }

  &__cart-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__cart-badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: $color-danger;
    color: $white-color;
    font-size: 10px;
    font-weight: 700;
    font-family: $font-family-base;
    min-width: 18px;
    height: 18px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    box-sizing: border-box;
    line-height: 1;
  }
  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
}
