@use "@/styles/abstracts/variables" as *;

.footer {
  position: relative;
  margin-top: 80px;

  &__content {
    background-color: #f0f0f0;
    padding-bottom: 82px;

    @media (max-width: $bp-sm) {
      padding-top: 32px;
    }
  }

  @media (max-width: $bp-sm) {
    margin-top: 50px;
  }
}
