@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

// Rating row
.rating-row {
  @include flex-center;
  justify-content: flex-start;
  gap: $base-spacing * 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

// Default rating wrapper
.rating-container {
  display: flex;
  align-items: center;
  gap: $base-spacing * 0.5;
}

// Render rating
.rating {
  @include flex-center;
  gap: $base-spacing * 0.25;

  &__star {
    display: block;
    width: 18px;
    height: 18px;

    @media (max-width: $breakpoint) {
      width: 15px;
      height: 15px;
      background-size: cover;
    }
    &--full {
      background: $icn-star;
    }

    &--half {
      background: $icn-half-star;
      width: 10px;
    }

    &--empty {
      background: none;
      opacity: 0.2;
    }
  }
}

// Rating text
.rating__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: $black-color;

  @media (max-width: $breakpoint) {
    font-size: 12px;
  }

  span {
    color: $text-muted;
  }
}