@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.price {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 700;
  @include flex-group(10px, flex-start, center);
  flex-wrap: wrap;

  @media (max-width: $bp-sm) {
    font-size: 20px;
    gap: 5px;
  }

  &--current {
    color: $black-color;
  }

  &--old {
    color: rgb($black-color, 0.4);
    text-decoration: line-through;
  }

  &--discount {
    padding: 6px 13.5px;
    color: $color-danger;
    font-size: 12px;
    font-weight: 500;
    border-radius: $radius-pill;
    background-color: rgba($color-danger, 0.1);

    @media (max-width: $bp-sm) {
      font-size: 10px;
      padding: 3px 8px;
    }
  }

  // --- VARIANT FOR PRODUCT DETAIL (`isDetail={true}`) ---
  &--detail {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 32px; // Scale up font-size for the detail variant
    gap: 12px;
    line-height: 100%;

    @media (max-width: $bp-sm) {
      font-size: 24px;
      margin-bottom: 20px;
      gap: 8px;
    }

    // Override discount tag size specifically for the detail variant
    .price--discount {
      padding: 4px 12px;
      font-size: 14px;
    }
  }
}
