@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.icon-button {
  //Reset styles
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  // Center layout
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // Effect
  color: $black-color; 
  transition: opacity 0.2s ease;

  // Responsive
  flex-shrink: 0; 

  // Size
  font-size: $font-size-base;

  @media (max-width: $breakpoint) {
    font-size: $font-size-mobile;
  }

  // State
  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &--default{
    
  }

  &--ghost{
    
  }
  &--circular {
    width: 48px;
    height: 48px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $grey-color;

    @media (max-width: $breakpoint) {
      width: 40px;
      height: 40px;
    }
  }

  &--social {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--no-fill {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: transparent;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $grey-color;
      opacity: 0.7;
    }
  }
}