@use "@/styles/abstracts/variables" as *;

.price-range-slider {
  &__wrapper {
    position: relative;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    touch-action: none; // Prevent scrolling when dragging on mobile
    margin-bottom: 24px;

    @media (max-width: $bp-sm) {
      margin-bottom: 24px;
    }
  }
}
