@use "@/styles/abstracts/variables" as *;

.pagination-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;

  &__pages {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-inline: auto;

    &--desktop {
      @media (max-width: $bp-md) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      @media (max-width: $bp-md) {
        display: flex;
      }
    }

    @media (max-width: $bp-md) {
      gap: 0;
    }
  }
}
