@use '@/styles/abstracts/variables' as *;

.brand-logo-wrapper {
  background-color: $black-color;
  padding: 44px 0;

  @media (max-width: $bp-sm) {
    padding: 39px 0;
  }
}

.brand-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 106px;

  @media (max-width: $bp-lg) {
    justify-content: center;
    gap: 72px;
  }

  @media (max-width: $bp-sm) {
    justify-content: center;
    gap: 20px 34px; // row-gap vertical | column-gap horizontal
  }

  &__item {
    max-height: 34px;
    width: auto;
    object-fit: contain;
    filter: brightness(0) invert(1); // White logo on black background

    @media (max-width: $bp-sm) {
      max-height: 26px;
    }
  }
}
