@use '@/styles/abstracts/variables' as *;

.brand-logo-wrapper {
  background-color: $black-color;
  padding: 44px 0;

  @media (max-width: $breakpoint-tablet) {
    padding: 39px 0;
  }
}

.brand-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;

  @media (max-width: $breakpoint-tablet) {
    justify-content: center;
    gap: 16px;
  }

  &__item {
    max-height: 34px;
    width: auto;
    object-fit: contain;
    filter: brightness(0) invert(1); // White logo on black background

    @media (max-width: $breakpoint-tablet) {
      max-height: 26px;
    }
  }
}
