@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.product-reviews {
  &__grid {
    @include grid-layout(2, 1fr);
    gap: $base-spacing;

    @media (max-width: $bp-sm) {
      grid-template-columns: 1fr;
    }
  }

  &__empty-message {
    text-align: center;
    color: $text-muted;
    padding: $base-spacing 0;
    width: 100%;
    font-size: 16px;
  }

  &__load-more-btn {
    margin-top: 16px;
    padding: 15px 45px;
    justify-self: center;
    display: block;

    @media (max-width: $bp-sm) {
      padding: 14px 36px;
      margin-top: 0;
    }
  }
}

