@use "@/styles/abstracts/variables" as *;

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: $radius-pill;
  padding: 14px 20px;

  &__btn {
    flex-shrink: 0;

    &--plus {
    }

    &--minus {
    }
  }

  &__value {
    text-align: center;
    font-weight: 500;
    border: none;
    background: transparent;
    outline: none;
    width: auto;
    -moz-appearance: textfield;
    padding: 0;
    font-size: 16px;
    margin-inline: 38px;

    @media (max-width: $bp-sm) {
      margin-inline: 16px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
