@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.product-more-info {
}

// Tab content: show/hide panels
.tab-content {
  display: none;
  width: 100%;
  margin: 24px auto 0;

  @media (max-width: $bp-sm) {
    margin-top: 18px;
  }

  &--active {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    align-items: center;

    @media (max-width: $bp-sm) {
      gap: 20px;
    }
  }

  &__header {
    @include flex-center(row);
    justify-content: space-between;
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    flex-grow: 5;

    @media (max-width: $bp-sm) {
      font-size: 20px;
      margin: 0;
    }
  }
}
