@use "@/styles/abstracts/variables" as *;

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $text-muted;
  margin: 24px 0 36px;

  @media (max-width: $breakpoint-tablet) {
    margin: 20px 0;
  }

  &__item {
    color: $text-muted;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $black-color;
    }

    &--active {
      color: $black-color;
      font-weight: 400;
    }
  }

  &__separator {
    margin: 0 8px;
    font-size: 12px;
  }
}
