@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Main content containers
 */
.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-left-right-full-layout;
  padding-right: $padding-left-right-full-layout;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    padding-left: $padding-left-right-mobile;
    padding-right: $padding-left-right-mobile;
    font-size: $font-size-mobile;
  }
}

/**
 * Hide element while making it readable for screen readers
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}