@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Main content containers
 */
.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (max-width: $bp-xl) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (max-width: $bp-sm) {
    padding-left: 16px;
    padding-right: 16px;
    font-size: $font-size-mobile;
  }
}

/**
 * Hide element while making it readable for screen readers
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
