@use '@/styles/abstracts/variables' as *;

.search-bar {
  display: flex;
  align-items: center;
  background-color: $grey-color;
  border-radius: $radius-pill;
  width: 100%;

  &:focus-within {
    transition: all 0.2s ease;
    box-shadow: 0 0 0 1px rgba($black-color, 0.2);
  }

  @media (max-width: $breakpoint) {
    background-color: transparent;
    padding: 0;
    width: auto;
  }

  &__btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0.2;
    padding: 12px 0 12px 16px;

    @media (max-width: $breakpoint) {
      opacity: 1;
    }
  }

  &__input {
    @media (max-width: $breakpoint) {
      display: none;
    }
  }
}